<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%thread] %caller{1} - %msg%n </pattern>
		</encoder>
	</appender>

	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home}/logs/skyshop-sync-file.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.home}/logs/skyshop-sync-file.log.%d{yyyy-MM-dd}.gz
			</FileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%X{sessionId} %date [%thread] %-5level %logger{80} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile"/>
	</root>
</configuration>

