<script type="text/javascript" src="../plugins/jqweui/lib/jquery-2.1.4.js" th:src="@{/plugins/jqweui/lib/jquery-2.1.4.js}"></script>
<script type="text/javascript" src="../plugins/jquery-custom-params.js" th:src="@{/plugins/jquery-custom-params.js}"></script>
<script type="text/javascript" src="../plugins/jqweui/js/jquery-weui.js" th:src="@{/plugins/jqweui/js/jquery-weui.js}"></script>
<script type="text/javascript" src="../plugins/ukulelejs/dist/uku.js" th:src="@{/plugins/ukulelejs/dist/uku.js}"></script>
<script type="text/javascript" src="../plugins/vue.min.js" th:src="@{/plugins/vue.min.js}"></script>

<script type="text/javascript" src="../js/common/ctx.js" th:src="@{/js/common/ctx.js}"></script>
<script type="text/javascript" src="../js/common/data.js" th:src="@{/js/common/data.js}"></script>
<script type="text/javascript" src="../js/common/data.js" th:src="@{/js/common/ui.js}"></script>
