.user-item {
	display: flex;
	
	background-color: white;
	padding: 10px;
	border-bottom: solid 1px #eee;
}
.user-logo {
	align-self: center;
}
.user-logo-img {
	width: 30px;
	height: 30px;
	border: solid 1px #eee;
	border-radius: 50%;
}
.user-info {
	text-align: left;
	margin-left: 10px;
	flex-grow: 1;
}
.user-name {
	text-align: left;
}
.user-time {
	text-align: left;
	color: #aaa;
	margin-top: 5px;
}
.user-operation {
	text-align: right;
	border-top: dotted 1px #eee;
	margin-top: 5px;
	padding-top: 5px;
	color: red;
}