<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.tbataobao.dao.IProductCategoryDao" >

    <resultMap id="BaseResultMap" type="com.sitv.skyshop.common.domain.ProductCategory">
		<id property="id" jdbcType="BIGINT" column="categoryidx" />
		<id property="shopId" jdbcType="BIGINT" column="shopIdx" />
		<result property="name" jdbcType="VARCHAR" column="categoryname" />
		<result property="level" jdbcType="INTEGER" column="levelVal" />
		<association property="parent" column="parentid" select="get"></association>
	</resultMap>
	
	<select id="findChildrens" resultMap="BaseResultMap" statementType="PREPARED">
		SELECT * 
		FROM tb_category
		WHERE parentid=#{id} AND shopidx=#{shopId}
	</select>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long" statementType="PREPARED">
	    SELECT * 
		FROM tb_category
		WHERE categoryidx=#{id}
	</select>
	
</mapper>