<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
    
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%thread] %replace(%caller{1}){'(\bCaller\+?0?\s*at?)|\r|\n|\t', ''}    -     %msg%n  </pattern>
		</encoder>
	</appender>

	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home}/logs/chairs-api-scan2use.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.home}/logs/chairs-api-scan2use.log.%d{yyyy-MM-dd}.gz
			</FileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %level [%thread] %replace(%caller{1}){'(\bCaller\+?0?\s*at?)|\r|\n|\t', ''}    -     %msg%n  
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.beans">
		<level value="INFO" />
	</logger>
	<logger name="org.springframework.data.redis">
		<level value="DEBUG" />
	</logger>
	<logger name="com.sitv.skyshop">
		<level value="DEBUG" />
	</logger>
	<logger name="com.sitv.skyshop.massagechair.dao" additivity="false">
		<level value="INFO" />
	</logger>
	<logger name="mybatis.dao." additivity="false">
		<level value="INFO" />
	</logger>
	<logger name="org.apache.ibatis" additivity="false">
		<level value="INFO" />
	</logger>
	
	<root level="INFO">
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile"/>
	</root>
</configuration>

