@CHARSET "UTF-8";

.livestudio {
	height: 100%;
	margin-bottom: 80px;
}
.live-info {
	background-color: white;
	padding: 20px 0;
}
.live-headimg {
	border-radius: 50%;
	border: solid 1px #eee;
	width:80px;
	height:80px;
	margin: auto;
}
.live-name {
	font-size: 12px;
}
.live-data {
	margin-top: 10px;
	background-color: white;
	padding: 10px 0;
	
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
}
.live-data-item {
	flex-grow: 1;
	
	border-right: solid 1px #eee;
}

.live-create {
	margin-top: 10px;
	padding: 10px 0;
	background-color: white;
	
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
}
.live-create-button {
	flex-grow: 1;
	
	border-right: solid 1px #eee;
}
.live-icon {
	color: red;
	font-size: 25px;
}
.live-manage {
	background-color: white;
	
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.live-manage-item {
	padding: 10px 0;
	flex-grow: 1;
	border-top: solid 1px #eee;
	border-right: solid 1px #eee;
	flex-basis: 20%;
}
