<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.common.dao.IAddressDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.common.domain.Address">
		<id property="id" jdbcType="BIGINT" column="addr_sno" />
		<result property="name" jdbcType="VARCHAR" column="addr_name" />
		<result property="code" jdbcType="VARCHAR" column="addr_code" />
		<result property="level" jdbcType="INTEGER" column="addr_level" />
		<association property="parent" column="addr_parentcode" select="getBy"/>
	</resultMap>
	
	<select id="getBy" resultMap="BaseResultMap" parameterType="string">
		SELECT * FROM tab_addresses WHERE addr_code=#{code}
	</select>
	
	<insert id="insert" parameterType="com.sitv.skyshop.common.domain.Address" statementType="PREPARED">
		INSERT INTO tab_addresses(addr_parentcode, addr_level, addr_name, addr_code) VALUES (#{parent.code}, #{level}, #{name}, #{code})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_addresses WHERE addr_sno=#{id}
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.common.domain.Address" statementType="PREPARED" >
		UPDATE tab_addresses 
		SET addr_name=#{name}, 
			addr_code=#{code}, 
			addr_level=#{level},
			<choose>
			    <when test="parent == null">
			        addr_parentcode='0'
			    </when>
			    <otherwise>
			        addr_parentcode=#{parent.code} 
			    </otherwise>
			</choose>
		WHERE addr_sno=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM tab_addresses WHERE addr_sno=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT * 
		FROM tab_addresses 
		WHERE 1 = 1 
		<if test="param != null and param.name != null">
			AND addr_name LIKE '%' + #{param.name} + '%'
		</if>
		<if test="param != null and param.parent != null">
			AND addr_parentcode = #{param.parent.code}
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
	
</mapper>