<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.device.IGSMModuleDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.device.GSMModule">
		<id property="id" jdbcType="BIGINT" column="gsm_sno" />
		<result property="description" jdbcType="VARCHAR" column="description" />
		<result property="imei" jdbcType="VARCHAR" column="gsm_imei" />
		<result property="name" jdbcType="VARCHAR" column="gsm_name" />
		<result property="module" jdbcType="VARCHAR" column="gsm_module" />
		<result property="status" jdbcType="VARCHAR" column="gsm_status" />
		<result property="deleteStatus" jdbcType="INTEGER" column="is_del" />
		<result property="createTime" javaType="java.util.Calendar" column="gsm_createTime"/>
		<result property="updateTime" javaType="java.util.Calendar" column="gsm_updateTime"/>
		<association property="simCard" column="simcard_sno" select="com.sitv.skyshop.massagechair.dao.device.ISIMCardDao.get"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.device.GSMModule" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_gsmmodules
			(gsm_status, is_del, gsm_name, description, gsm_imei, gsm_module, simcard_sno, gsm_createTime, gsm_updateTime) 
		VALUES 
			(#{status.code}, #{deleteStatus.code}, #{name}, #{description, jdbcType=VARCHAR}, #{imei}, #{module}, #{simCard.id}, #{createTime}, #{updateTime})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_gsmmodules WHERE gsm_sno=#{id}
	</select>
	
	<select id="getBySIM" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_gsmmodules WHERE simcard_sno=#{id}
	</select>
	
	<select id="getByIMEI" resultMap="BaseResultMap" parameterType="string">
		SELECT * FROM tab_gsmmodules WHERE gsm_imei=#{imei}
	</select>
	
	<update id="updateStatus" parameterType="com.sitv.skyshop.massagechair.domain.device.GSMModule" statementType="PREPARED" >
		UPDATE tab_gsmmodules 
		SET gsm_status=#{status.code}
		WHERE gsm_sno=#{id}
	</update>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.device.GSMModule" statementType="PREPARED" >
		UPDATE tab_gsmmodules 
		SET description=#{description, jdbcType=VARCHAR},
		 	gsm_imei=#{imei},
		 	gsm_name=#{name},
		 	gsm_module=#{module},
		 	simcard_sno=#{simCard.id},
		 	gsm_status=#{status.code},
		 	gsm_updateTime=#{updateTime}
		WHERE gsm_sno=#{id}
	</update>
	
	<update id="updateDeleteStatus" parameterType="com.sitv.skyshop.massagechair.domain.device.GSMModule" statementType="PREPARED" >
		UPDATE tab_gsmmodules 
		SET is_del=#{deleteStatus.code}
		WHERE gsm_sno=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM tab_gsmmodules WHERE gsm_sno=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM tab_gsmmodules m
		LEFT JOIN tab_simcards s ON m.simcard_sno = s.simcard_sno
		WHERE 1 = 1 
		<if test="param != null and param.deleteStatus != null">
			AND m.is_del = #{param.deleteStatus.code}
		</if>
		<if test="param != null and param.description != null">
			AND m.description LIKE '%' + #{param.description} + '%'
		</if>
		<if test="param != null and param.imei != null">
			AND m.gsm_imei LIKE '%' + #{param.imei} + '%'
		</if>
		<if test="param != null and param.simCard != null and param.simCard.sim != null">
			AND s.sim LIKE '%' + #{param.simCard.sim} + '%'
		</if>
		<if test="param != null and param.module != null">
			AND m.gsm_module LIKE '%' + #{param.module} + '%'
		</if>
		<if test="param != null and param.status != null">
			AND m.gsm_status = #{param.status.code}
		</if>
		ORDER BY gsm_sno DESC
	</select>
</mapper>