<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.device.malfunction.IMalfunctionDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.device.malfunction.Malfunction">
		<id property="id" jdbcType="BIGINT" column="mal_sno" />
		<result property="description" jdbcType="VARCHAR" column="description" />
		<result property="status" jdbcType="VARCHAR" column="mal_status" />
		<result property="type" jdbcType="VARCHAR" column="mal_type" />
		<result property="createTime" column="mal_createTime" />
		<result property="updateTime" column="mal_updateTime" />
		<association property="chair" column="chairs_sno" select="com.sitv.skyshop.massagechair.dao.device.IMassageChairDao.get"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.device.malfunction.Malfunction" statementType="PREPARED">
		INSERT INTO tab_malfunctions
			(mal_type, description, mal_status, chairs_sno, mal_createTime, mal_updateTime) 
		VALUES 
			(#{type.code}, #{description, jdbcType=VARCHAR}, #{status.code}, #{chair.id}, #{createTime}, #{updateTime})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_malfunctions WHERE mal_sno=#{id}
	</select>
	
	<select id="findByChair" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_malfunctions WHERE chairs_sno=#{id}
	</select>
	
	<select id="findByAgency" resultMap="BaseResultMap" parameterType="long">
		SELECT m.* FROM tab_malfunctions m LEFT JOIN tab_massagechairs c ON m.chairs_sno=c.chairs_sno WHERE 1=1
		<if test="id != 0">
		   AND c.user3_sno = #{id}
		</if>
	</select>
	
	<update id="updateStatus" parameterType="com.sitv.skyshop.massagechair.domain.device.malfunction.Malfunction" statementType="PREPARED" >
		UPDATE tab_malfunctions 
		SET mal_status=#{status.code}
		WHERE mal_sno=#{id}
	</update>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.device.malfunction.Malfunction" statementType="PREPARED" >
		UPDATE tab_malfunctions 
		SET mal_type=#{type.code}, 
		 	description=#{description, jdbcType=VARCHAR},
		 	mal_status=#{status.code},
		 	chairs_sno=#{chair.id},
		 	mal_updateTime=#{updateTime}
		WHERE mal_sno=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM tab_malfunctions WHERE mal_sno=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM tab_malfunctions m 
		LEFT JOIN tab_massagechairs c ON m.chairs_sno=c.chairs_sno
		WHERE 1 = 1 
		<if test="param != null and param.chair != null and param.chair.agency != null and param.chair.agency.id != 0">
			AND c.user3_sno = #{param.chair.agency.id}
		</if>
		<if test="param != null and param.type != null">
			AND m.mal_type = #{param.type.code}
		</if>
		<if test="param != null and param.status != null">
			AND m.mal_status = #{param.status.code}
		</if>
		<if test="param != null and param.chair != null">
			AND c.name LIKE '%' + #{param.chair.name} + '%'
		</if>
		<if test="param != null and param.description != null">
			AND m.description LIKE '%' + #{param.description} +'%'
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>