<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.device.malfunction.IMalfunctionDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.device.malfunction.Malfunction">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="createTime" property="createTime" />
		<result column="updateTime" property="updateTime" />
		<discriminator javaType="java.lang.String" column="type" >
		    <case value="GSMModuleMalfunction" resultType="com.sitv.skyshop.massagechair.domain.device.malfunction.GSMModuleMalfunction">
				<association property="device" column="deviceid" select="com.sitv.skyshop.massagechair.dao.device.IGSMModuleDao.get"/>
		    </case>
		    <case value="SIMCardMalfunction" resultType="com.sitv.skyshop.massagechair.domain.device.malfunction.SIMCardMalfunction">
				<association property="device" column="deviceid" select="com.sitv.skyshop.massagechair.dao.device.ISIMCardDao.get"/>
		    </case>
		    <case value="MassageChairMalfunction" resultType="com.sitv.skyshop.massagechair.domain.device.malfunction.MassageChairMalfunction">
				<association property="device" column="deviceid" select="com.sitv.skyshop.massagechair.dao.device.IMassageChairDao.get"/>
		    </case>
		</discriminator>
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.device.malfunction.Malfunction" statementType="PREPARED">
		INSERT INTO malfunctions
			(name, description, status, deviceid, type) 
		VALUES 
			(#{name}, #{description}, #{status}, #{device.id}, #{type})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM malfunctions WHERE id=#{id}
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.device.malfunction.Malfunction" statementType="PREPARED" >
		UPDATE malfunctions 
		SET name=#{name}, 
		 	description=#{description},
		 	status=#{status},
		 	deviceid=#{device.id},
		 	updateTime=#{updateTime}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM malfunctions WHERE id=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM malfunctions m
		WHERE 1 = 1 
		<if test="param != null and param.type != null">
			AND type = #{param.type}
		</if>
		
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>