<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.order.IOrderDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.order.Order">
		<id property="id" jdbcType="BIGINT" column="orders_sno" />
		<result property="code" jdbcType="VARCHAR" column="orders_code" />
		<result property="minutes" jdbcType="INTEGER" column="orders_minutes" />
		<result property="money" jdbcType="DECIMAL" column="orders_money" />
		<result property="payStatus" jdbcType="VARCHAR" column="orders_paystatus" />
		<result property="payType" jdbcType="VARCHAR" column="orders_paytype" />
		<result property="createTime" javaType="java.util.Calendar" column="orders_createTime"/>
		<result property="checkCode" jdbcType="VARCHAR" column="orders_check"/>
		<result property="deleteStatus" jdbcType="INTEGER" column="is_del" />
		<association property="installationAddress" column="install_sno" select="com.sitv.skyshop.massagechair.dao.device.IInstallationAddressDao.get"/>
		<association property="chair" column="chairs_sno" select="com.sitv.skyshop.massagechair.dao.device.IMassageChairDao.get"/>
		<association property="agency" column="user3_sno" select="com.sitv.skyshop.massagechair.dao.agency.IAgencyDao.get"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tab_orders
			(orders_code, is_del, orders_minutes, orders_money, orders_payStatus, orders_paytype, orders_createTime, orders_check, user3_sno, chairs_sno,install_sno) 
		VALUES 
			(#{code}, #{deleteStatus.code},#{minutes},#{money},#{payStatus.code},#{payType.code},#{createTime}, #{checkCode}, 
			<choose>
			    <when test="agency == null">0,</when>
			    <otherwise> #{agency.id},</otherwise>
			</choose> 
			#{chair.id}, #{installationAddress.id})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders WHERE orders_sno=#{id}
	</select>
	
	<select id="getCountByAgency" resultType="int" parameterType="long">
		SELECT count(1) FROM tab_orders WHERE 1=1 
		<if test="id != 0">
			AND user3_sno=#{id}
		</if>
	</select>
	
	<select id="getTotalMoney" resultType="java.math.BigDecimal" >
		SELECT ISNULL(sum(orders_money),0)
		FROM tab_orders 
		WHERE 	orders_createtime &gt;= #{startTime} 
			AND orders_createtime &lt;  #{endTime} 
			<if test="id != 0">
				AND user3_sno=#{id}
			</if>
	</select>
	
	<select id="findByChair" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders WHERE chairs_sno=#{id}
	</select>
	
	<select id="findByAgency" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders WHERE  1=1 
		<if test="id != 0">
			AND user3_sno=#{id}
		</if>
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED" >
		UPDATE tab_orders 
		SET orders_payStatus=#{payStatus.code}, 
		 	orders_paytype=#{payType.code},
		 	orders_minutes=#{minutes},
		 	orders_money=#{money},
		 	orders_check=#{checkCode},
		 	<choose>
			    <when test="agency == null">user3_sno=0,</when>
			    <otherwise>user3_sno= #{agency.id},</otherwise>
			</choose> 
		 	chairs_sno=#{chair.id},
		 	install_sno=#{installationAddress.id}
		WHERE orders_sno=#{id}
	</update>
	
	<update id="updateDeleteStatus" parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED" >
		UPDATE tab_orders 
		SET is_del=#{deleteStatus.code}
		WHERE orders_sno=#{id}
	</update>
	
		
	<update id="updateStatus" parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED" >
		UPDATE tab_orders 
		SET orders_payStatus=#{payStatus.code}
		WHERE orders_sno=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM tab_orders WHERE orders_sno=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM tab_orders m
		WHERE 1 = 1 
		<if test="param != null and param.deleteStatus != null">
			AND is_del = #{param.deleteStatus.code}
		</if>
		<if test="param != null and param.agency != null and param.agency.id != 0">
			AND user3_sno=#{param.agency.id}
		</if>
		<if test="param != null and param.startDate != null">
			AND orders_createtime &gt; #{param.startDate}
		</if>
		<if test="param != null and param.endDate != null">
			AND orders_createtime &lt;= #{param.endDate}
		</if>
		<if test="param != null and param.installationAddress != null">
			AND install_sno= #{param.installationAddress.id}
		</if>
		<if test="param != null and param.payStatus != null">
			AND orders_payStatus= #{param.payStatus.code}
		</if>
		<if test="param != null and param.payType != null">
			AND orders_paytype= #{param.payType.code}
		</if>
		<if test="param != null and param.chair != null ">
			AND chairs_sno=#{param.chair.id}
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>