<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.order.IOrderDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.order.Order">
		<id property="id" jdbcType="BIGINT" column="orders_sno" />
		<result property="code" jdbcType="VARCHAR" column="orders_code" />
		<result property="minutes" jdbcType="INTEGER" column="orders_minutes" />
		<result property="money" jdbcType="DECIMAL" column="orders_money" />
		<result property="payStatus" jdbcType="VARCHAR" column="orders_paystatus" />
		<result property="payType" jdbcType="VARCHAR" column="orders_paytype" />
		<result property="createTime" javaType="java.util.Calendar" column="orders_createTime"/>
		<result property="checkCode" jdbcType="VARCHAR" column="orders_checkCode"/>
		<result property="deleteStatus" jdbcType="INTEGER" column="is_del" />
		<result property="installationAddress" jdbcType="BIGINT" column="install_sno" />
		<association property="chair" column="chairs_sno" select="com.sitv.skyshop.massagechair.dao.device.IMassageChairDao.get"/>
		<association property="agency" column="user3_sno" select="com.sitv.skyshop.massagechair.dao.agency.IAgencyDao.get"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED">
		INSERT INTO tab_orders
			(orders_code, orders_minutes, orders_money, orders_payStatus, orders_paytype, orders_createTime, orders_checkCode, description, user3_sno, chairs_sno,install_sno) 
		VALUES 
			(#{code},#{minutes},#{money},#{payStatus.code},#{payType.code},#{createTime}, #{checkCode}, #{description}, #{agency.id}, #{chair.id}}, #{installationAddress.id})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders WHERE orders_sno=#{id}
	</select>
	
	<select id="findByChair" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders WHERE chairs_sno=#{id}
	</select>
	
	<select id="findByAgency" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders WHERE user3_sno=#{id}
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED" >
		UPDATE tab_orders 
		SET orders_payStatus=#{payStatus.code}, 
		 	orders_paytype=#{payType.code},
		 	orders_minutes=#{minutes},
		 	orders_money=#{money},
		 	orders_checkCode=#{checkCode},
		 	user3_sno=#{agency.id},
		 	chairs_sno=#{chair.id},
		 	description=#{description},
		 	install_sno=#{installationAddress.id},
		 	updateTime=#{updateTime}
		WHERE orders_sno=#{id}
	</update>
	
	<update id="updateDeleteStatus" parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED" >
		UPDATE tab_orders 
		SET is_del=#{deleteStatus.code},
		WHERE orders_sno=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM tab_orders WHERE orders_sno=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM tab_orders m
		WHERE 1 = 1 
		<if test="param != null and param.startDate != null">
			AND orders_createtime &gt; #{param.startDate}
		</if>
		<if test="param != null and param.endDate != null">
			AND orders_createtime &lt;= #{param.endDate}
		</if>
		<if test="param != null and param.installationAddress != null">
			AND install_sno= #{param.installationAddress.id}
		</if>
		<if test="param != null and param.payStatus != null">
			AND orders_payStatus= #{param.payStatus.code}
		</if>
		<if test="param != null and param.payType != null">
			AND orders_paytype= #{param.payType.code}
		</if>
		<if test="param != null and param.chair != null ">
			AND chairs_sno=#{param.chair.id}
		</if>
		<if test="param != null and param.agency != null">
			AND user3_sno=#{param.agency.id}
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>