<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.order.IOrderDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.order.Order">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="minutes" jdbcType="INTEGER" property="minutes" />
		<result column="money" jdbcType="DECIMAL" property="money" />
		<result column="payStatus" jdbcType="VARCHAR" property="paystatus" />
		<result column="orderStatus" jdbcType="VARCHAR" property="orderStatus" />
		<result column="realMins" jdbcType="DECIMAL" property="realmins" />
		<result column="createTime" javaType="java.util.Calendar" property="createTime"/>
		<result column="completeTime" javaType="java.util.Calendar" property="completetime"/>
		<result column="updateTime" javaType="java.util.Calendar" property="updateTime"/>
		<association property="price" column="priceid" select="com.sitv.skyshop.massagechair.dao.price.IPriceDao.get"/>
		<association property="chair" column="chairid" select="com.sitv.skyshop.massagechair.dao.device.IMassageChairDao.get"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED">
		INSERT INTO orders
			(code, minutes, money, payStatus, orderStatus, realMins, description, priceid, chairid) 
		VALUES 
			(#{code},#{minutes},#{money},#{payStatus.code},#{orderStatus.code},#{realMins}, #{description}, #{price.id}, #{chair.id})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM orders WHERE id=#{id}
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.order.Order" statementType="PREPARED" >
		UPDATE orders 
		SET payStatus=#{payStatus.code}, 
		 	orderStatus=#{orderStatus.code},
		 	realMins=#{realMins},
		 	completeTime=#{completeTime},
		 	updateTime=#{updateTime}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM orders WHERE id=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM orders m
		WHERE 1 = 1 
		<if test="param != null and param.payStatus != null">
			AND payStatus= #{param.payStatus}
		</if>
		<if test="param != null and param.orderStatus != null">
			AND orderStatus= #{param.orderStatus}
		</if>
		<if test="param != null and param.chair != null ">
			AND chairid=#{param.chair.id}
		</if>
		<if test="param != null and param.price != null">
			AND priceid=#{param.price.id}
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>