<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.order.IOrderIncomePartitionDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.order.OrderIncomePartition">
		<id property="id" jdbcType="BIGINT" column="detailed_sno" />
		<result property="money" jdbcType="DECIMAL" column="detailed_money" />
		<result property="checkCode" jdbcType="VARCHAR" column="detailed_check"/>
		<result property="percentage" jdbcType="INTEGER" column="detailed_percentage" />
		<result property="totalMoney" jdbcType="DECIMAL" column="detailed_parent_money" />
		<association property="order" column="orders_sno" select="com.sitv.skyshop.massagechair.dao.order.IOrderDao.get"/>
		<association property="agency" column="user3_sno" select="com.sitv.skyshop.massagechair.dao.agency.IAgencyDao.get"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.order.OrderIncomePartition" statementType="PREPARED">
		INSERT INTO tab_orders_Detailed
			(detailed_money, detailed_check, detailed_percentage, detailed_parent_money, orders_sno, user3_sno, cdate) 
		VALUES 
			(#{money}, #{checkCode}, #{percentage}, #{totalMoney}, #{order.id}, #{agency.id}, #{createTime})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders_Detailed WHERE detailed_sno=#{id}
	</select>
	
	<select id="getCountByAgency" resultType="int" parameterType="long">
		SELECT count(1) FROM tab_orders_Detailed WHERE user3_sno=#{id}
	</select>
	
	<select id="findByOrder" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders_Detailed WHERE orders_sno=#{id}
	</select>
	
	<select id="findByAgency" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_orders_Detailed WHERE user3_sno=#{id}
	</select>
	
	<delete id="deleteByOrder" parameterType="long">
	    DELETE FROM tab_orders_Detailed WHERE orders_sno=#{orderId}
	</delete>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.order.OrderIncomePartition" statementType="PREPARED" >
		UPDATE tab_orders_Detailed 
		SET detailed_money=#{money}, 
		 	detailed_check=#{checkCode},
		 	detailed_percentage=#{percentage},
		 	detailed_parent_money=#{totalMoney},
		 	orders_sno=#{order.id},
		 	user3_sno=#{agency.id}
		WHERE detailed_sno=#{id}
	</update>
	
	<select id="getTodayTotalMoney" resultType="java.math.BigDecimal" >
		SELECT ISNULL(sum(d.detailed_money),0)
		FROM tab_orders_Detailed d 
		LEFT JOIN tab_orders o ON o.orders_sno=d.orders_sno
		WHERE 	o.orders_sno=d.orders_sno
			AND o.orders_createtime &gt;= #{startTime} 
			AND o.orders_createtime &lt;=  #{endTime} 
			AND d.user3_sno=#{id}
	</select>
	
	<!-- 	订单分成 order_detail_share-->
	<select id="findOrderPartitions" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT d.*
		FROM tab_orders_Detailed d 
		LEFT JOIN tab_orders o ON o.orders_sno=d.orders_sno
		WHERE 	o.orders_sno=d.orders_sno
			AND o.orders_sno=#{param.order.id}
		ORDER BY d.user3_sno
	</select>
	
	<select id="getChairTotalMoney" resultType="java.math.BigDecimal" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT ISNULL(SUM(m.detailed_money),0)
		FROM tab_orders_Detailed m 
		LEFT JOIN tab_orders o on m.orders_sno=o.orders_sno
		LEFT JOIN tab_massagechairs c on o.chairs_sno=c.chairs_sno
		WHERE m.orders_sno=o.orders_sno
			AND o.chairs_sno=c.chairs_sno
		<if test="param != null and param.agency != null">
			AND m.user3_sno = #{param.agency.id}
		</if>
		<if test="param != null and param.startDate != null">
			AND o.orders_createtime &gt;= #{param.startDate}
		</if>
		<if test="param != null and param.endDate != null">
			AND o.orders_createtime &lt;= #{param.endDate}
		</if>
		<if test="param != null and param.order != null and param.order.payStatus != null">
			AND o.orders_payStatus= 'A'
		</if>
		<if test="param != null and param.order != null and param.order.payType != null">
			AND o.orders_paytype= #{param.order.payType.code}
		</if>
		<if test="param != null and param.order != null and param.order.chair != null ">
			AND o.chairs_sno=#{param.order.chair.id}
		</if>
	</select>
	
	<select id="findChairIncomes" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT max(m.detailed_sno) as detailed_sno, max(m.orders_sno) as orders_sno, sum(m.detailed_money) as detailed_money, sum(m.detailed_parent_money) as detailed_parent_money
		FROM tab_orders_Detailed m 
		LEFT JOIN tab_orders o on m.orders_sno=o.orders_sno
		LEFT JOIN tab_massagechairs c on o.chairs_sno=c.chairs_sno
		WHERE m.orders_sno=o.orders_sno
			AND o.chairs_sno=c.chairs_sno
		<if test="param != null and param.agency != null">
			AND m.user3_sno = #{param.agency.id}
		</if>
		<if test="param != null and param.startDate != null">
			AND o.orders_createtime &gt;= #{param.startDate}
		</if>
		<if test="param != null and param.endDate != null">
			AND o.orders_createtime &lt;= #{param.endDate}
		</if>
		<if test="param != null and param.order != null and param.order.payStatus != null">
			AND o.orders_payStatus= 'A'
		</if>
		<if test="param != null and param.order != null and param.order.payType != null">
			AND o.orders_paytype= #{param.order.payType.code}
		</if>
		<if test="param != null and param.order != null and param.order.chair != null ">
			AND o.chairs_sno=#{param.order.chair.id}
		</if>
		GROUP BY c.chairs_sno
		ORDER BY orders_sno DESC
	</select>
	
	<select id="findChairIncomeDetail" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM tab_orders_Detailed m 
		LEFT JOIN tab_orders o on m.orders_sno=o.orders_sno
		LEFT JOIN tab_massagechairs c on o.chairs_sno=c.chairs_sno
		WHERE m.orders_sno=o.orders_sno
			AND o.chairs_sno=c.chairs_sno
			AND o.chairs_sno=#{param.order.chair.id}
		<if test="param != null and param.agency != null">
			AND m.user3_sno = #{param.agency.id}
		</if>
		<if test="param != null and param.startDate != null">
			AND o.orders_createtime &gt;= #{param.startDate}
		</if>
		<if test="param != null and param.endDate != null">
			AND o.orders_createtime &lt;= #{param.endDate}
		</if>
		<if test="param != null and param.order != null and param.order.payStatus != null">
			AND o.orders_payStatus= 'A'
		</if>
		<if test="param != null and param.order != null and param.order.payType != null">
			AND o.orders_paytype= #{param.order.payType.code}
		</if>
		ORDER BY m.orders_sno DESC
	</select>

	<!-- 	代理商收益 agency_income_list -->
	<select id="getTotalMoney" resultType="java.math.BigDecimal" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT ISNULL(SUM(m.detailed_money),0)
		FROM tab_orders_Detailed m 
		LEFT JOIN tab_orders o on m.orders_sno=o.orders_sno
		WHERE m.orders_sno=o.orders_sno
		<if test="param != null and param.agency != null">
			AND m.user3_sno = #{param.agency.id}
		</if>
		<if test="param != null and param.startDate != null">
			AND o.orders_createtime &gt;= #{param.startDate}
		</if>
		<if test="param != null and param.endDate != null">
			AND o.orders_createtime &lt;= #{param.endDate}
		</if>
		<if test="param != null and param.order != null and param.order.payStatus != null">
			AND o.orders_payStatus= 'A'
		</if>
		<if test="param != null and param.order != null and param.order.payType != null">
			AND o.orders_paytype= #{param.order.payType.code}
		</if>
		<if test="param != null and param.order != null and param.order.chair != null ">
			AND o.chairs_sno=#{param.order.chair.id}
		</if>
	</select>
	
	<!-- 	代理商收益 agency_income_list -->
	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM tab_orders_Detailed m 
		LEFT JOIN tab_orders o on m.orders_sno=o.orders_sno
		WHERE m.orders_sno=o.orders_sno
		<if test="param != null and param.agency != null">
			AND m.user3_sno = #{param.agency.id}
		</if>
		<if test="param != null and param.startDate != null">
			AND o.orders_createtime &gt;= #{param.startDate}
		</if>
		<if test="param != null and param.endDate != null">
			AND o.orders_createtime &lt;= #{param.endDate}
		</if>
		<if test="param != null and param.order != null and param.order.payStatus != null">
			AND o.orders_payStatus= 'A'
		</if>
		<if test="param != null and param.order != null and param.order.payType != null">
			AND o.orders_paytype= #{param.order.payType.code}
		</if>
		<if test="param != null and param.order != null and param.order.chair != null ">
			AND o.chairs_sno=#{param.order.chair.id}
		</if>
		ORDER BY m.orders_sno DESC
	</select>
</mapper>