<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.price.IPriceDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.price.FixedPrice">
		<id property="id" jdbcType="BIGINT" column="prices_sno" />
		<result property="price" jdbcType="DECIMAL" column="prices_amount" />
		<result property="name" jdbcType="VARCHAR" column="prices_name" />
		<result property="img" jdbcType="VARCHAR" column="prices_img" />
		<result property="createTime" column="prices_createTime" />
		<result property="updateTime" column="prices_updateTime" />
		<result property="minutes" jdbcType="INTEGER" column="prices_minutes" />
		<association property="agency" column="user3_sno" select="com.sitv.skyshop.massagechair.dao.agency.IAgencyDao.get"/>
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.price.FixedPrice" statementType="PREPARED">
		INSERT INTO tab_prices
			(prices_name, prices_amount, prices_img, prices_createTime, prices_minutes,user3_sno) 
		VALUES 
			(#{name},#{price}, #{img}, #{createTime}, #{minutes},#{agency.id})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_prices WHERE prices_sno=#{id}
	</select>
	
	<select id="getCountByAgency" resultType="int" parameterType="long">
		SELECT count(1) FROM tab_prices WHERE user3_sno=#{id}
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.price.FixedPrice" statementType="PREPARED" >
		UPDATE tab_prices 
		SET prices_amount=#{price}, 
		    prices_img=#{img}, 
		    prices_name=#{name}, 
		    prices_minutes=#{minutes}, 
		 	prices_updateTime=#{updateTime}
		WHERE prices_sno=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM tab_prices WHERE prices_sno=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM tab_prices m
		WHERE 1 = 1 
			AND user3_sno=#{param.agency.id}
		<if test="param != null and param.name != null">
			AND prices_name LIKE CONCAT('%', #{param.name}, '%')
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>