<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.user.IRoleDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.user.Role">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="isSuper" jdbcType="VARCHAR" property="isSuper" />
		<result column="createTime" javaType="java.util.Calendar" property="createTime"/>
		<result column="updateTime" javaType="java.util.Calendar" property="updateTime"/>
		<collection property="permissions" column="id" select="getPermissions" ofType="com.sitv.skyshop.massagechair.domain.user.Permission"/>
	</resultMap>
	
	<select id="getPermissions" resultMap="com.sitv.skyshop.massagechair.dao.user.IPermissionDao.BaseResultMap" parameterType="long">
		SELECT p.* 
		FROM rolepermissions pp 
		LEFT JOIN permissions p ON pp.permissionid=p.id
		WHERE pp.roleid=#{id}
	</select>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.user.Role" statementType="PREPARED">
		INSERT INTO roles
			(name, code, isSuper) 
		VALUES 
			(#{name}, #{code}, #{isSuper})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM roles WHERE id=#{id}
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.user.Role" statementType="PREPARED" >
		UPDATE roles 
		SET name=#{name}, 
		 	isSuper=#{isSuper},
		 	code=#{code},
		 	updateTime=#{updateTime}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM roles WHERE id=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM roles m
		WHERE 1 = 1 
		<if test="param != null and param.name != null">
			AND name LIKE CONCAT('%', #{param.name}, '%')
		</if>
		<if test="param != null and param.code != null">
			AND code LIKE CONCAT('%', #{param.code}, '%')
		</if>
		<if test="param != null and param.isSuper != null">
			AND isSuper =#{param.isSuper}
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>