<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.device.ISIMCardDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.device.SIMCard">
		<id property="id" jdbcType="BIGINT" column="simcard_sno" />
		<result property="status" jdbcType="VARCHAR" column="simcard_status" />
		<result property="description" jdbcType="VARCHAR" column="description" />
		<result property="sim" jdbcType="VARCHAR" column="simcard_sim" />
		<result property="dataFlow" jdbcType="INTEGER" column="simcard_dataFlow" />
		<result property="dueDate" column="simcard_dueDate" />
		<result property="deleteStatus" jdbcType="INTEGER" column="is_del" />
		<result property="createTime" javaType="java.util.Calendar" column="simcard_createTime" />
		<result property="updateTime" javaType="java.util.Calendar" column="simcard_updateTime" />
		<result property="operator" jdbcType="VARCHAR" column="simcard_operator" />
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.device.SIMCard" statementType="PREPARED">
		INSERT INTO tab_simcards
			(simcard_status, description, simcard_sim, simcard_dataFlow, simcard_dueDate, simcard_createTime, simcard_operator) 
		VALUES 
			(#{status.code}, #{description}, #{sim}, #{dataFlow}, #{dueDate}, #{createTime}, #{operator.code})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM tab_simcards WHERE simcard_sno=#{id}
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.device.SIMCard" statementType="PREPARED" >
		UPDATE tab_simcards 
		SET simcard_status=#{status.code}, 
		 	description=#{description},
		 	simcard_sim=#{sim},
		 	simcard_dataFlow=#{dataFlow},
		 	simcard_dueDate=#{dueDate},
		 	simcard_operator=#{operator.code},
		 	simcard_updateTime=#{updateTime}
		WHERE simcard_sno=#{id}
	</update>
	
	<update id="updateDeleteStatus" parameterType="com.sitv.skyshop.massagechair.domain.device.SIMCard" statementType="PREPARED" >
		UPDATE tab_simcards 
		SET is_del=#{deleteStatus.code},
		WHERE simcard_sno=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM tab_simcards WHERE simcard_sno=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM tab_simcards m
		WHERE 1 = 1 
		<if test="param != null and param.status != null">
			AND simcard_status = #{param.status.code}
		</if>
		<if test="param != null and param.sim != null">
			AND simcard_sim like CONCAT('%', #{param.sim}, '%')
		</if>
		<if test="param != null and param.dueDate != null">
			AND simcard_dueDate &lt;= #{param.dueDate}
		</if>
		<if test="param != null and param.operator != null and param.operator.name != null">
			AND simcard_operator = #{param.operator.code}
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>