<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sitv.skyshop.massagechair.dao.userecord.IUseRecordDao" >

	<resultMap id="BaseResultMap" type="com.sitv.skyshop.massagechair.domain.record.UseRecord">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="from" jdbcType="VARCHAR" property="from" />
		<result column="response" jdbcType="VARCHAR" property="response" />
		<result column="imei" jdbcType="VARCHAR" property="imei" />
		<result column="sim" jdbcType="VARCHAR" property="sim" />
		<result column="price" jdbcType="VARCHAR" property="price" />
		<result column="chair" jdbcType="VARCHAR" property="chair" />
		<result column="createTime" property="createTime" />
	</resultMap>
	
	<insert id="insert" parameterType="com.sitv.skyshop.massagechair.domain.record.UseRecord" statementType="PREPARED">
		INSERT INTO userecords
			(name, description, from, response, imei, sim, price, chair) 
		VALUES 
			(#{name}, #{description}, #{from}, #{response}, #{imei}, #{sim}, #{price}, #{chair})    
	</insert>
	
	<select id="get" resultMap="BaseResultMap" parameterType="long">
		SELECT * FROM userecords WHERE id=#{id}
	</select>
	
	<update id="update"  parameterType="com.sitv.skyshop.massagechair.domain.record.UseRecord" statementType="PREPARED" >
		UPDATE userecords 
		SET name=#{name}, 
		 	description=#{description},
		 	from=#{from},
		 	imei=#{imei},
		 	sim=#{sim},
		 	price=#{price},
		 	chair=#{chair},
		 	response=#{response}
		WHERE id=#{id}
	</update>
	
	<delete id="delete" parameterType="long" statementType="PREPARED">
	    DELETE FROM userecords WHERE id=#{id}
	</delete>

	<select id="search" resultMap="BaseResultMap" parameterType="com.sitv.skyshop.dto.SearchParamInfo">
		SELECT m.*
		FROM userecords m
		WHERE 1 = 1 
		<if test="param != null and param.name != null">
			AND name LIKE CONCAT('%', #{param.name}, '%')
		</if>
		<if test="param != null and param.imei != null">
			AND imei like CONCAT('%', #{param.imei}, '%')
		</if>
		<if test="param != null and param.sim != null">
			AND sim like CONCAT('%', #{param.sim}, '%')
		</if>
		<if test="param != null and param.chair != null">
			AND chair like CONCAT('%', #{param.chair}, '%')
		</if>
		<if test="sortField != null and sortDir != null">
			ORDER BY ${sortField} ${sortDir}
		</if>
	</select>
</mapper>